<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEEME - Sign Up</title>

    <link rel="stylesheet" type = "text/css" href="/css/SignInUp.css">
    <script type="text/javascript" src="/js/signUpValidation.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;800&family=Koulen&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="panel-left">
        <div class="header">
            <span id="welcome-to"><b>Welcome to</b></span> <br>
            <span id="meeme"><b>MEEME</b></span>
        </div>
        <div class="form-container">
            <form id="registerForm" action="/api/v1/auth/register" method="POST">
                <span class="form-title">Sign up...</span>
                <span id="form-info"></span>
                <input id="login" name="login" type="text" placeholder="Login">
                <input id="password" name="password" type="password" placeholder="Password">
                <input id="email" name="email" type="text" placeholder="Email">
                <div class="button-container">
                    <button class="sign-in link" type="submit">Sign Up</button>
                    <a href="signIn"><button class="sign-up link" type="button">Already have?<br> Sign In</button></a>
                </div>
            </form>
        </div>
    </div>
    <div class="panel-right">
        <span id="daily-dose-of">DAILY DOSE OF</span><br>
        <span class="meemes">MEEMES</span>
    </div>
</div>
</body>
<script>
  document.getElementById("registerForm").addEventListener("submit", function(event) {
    event.preventDefault(); // Zatrzymaj domyślne działanie formularza

    // Pobierz dane z formularza
    var login = document.getElementById("login").value;
    var password = document.getElementById("password").value;
    var email = document.getElementById("email").value;

    // Przekształć dane na obiekt JSON
    var data = {
      login: login,
      password: password,
      email: email
    };

    // Wyślij żądanie AJAX do kontrolera
    fetch("/api/v1/auth/register", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(data)
    })
      .then(function(response) {
        return response.json();
      })
      .then(function(responseData) {
        // Obsłuż odpowiedź
        console.log(responseData);
      })
      .catch(function(error) {
        // Obsłuż błąd
        console.error(error);
      });
  });
</script>
</html>